@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Get started with .NET Core and Azure</h2>
    <form asp-action="Create" method="post">
        <button type="submit">Go!</button>
    </form>
</div>
